{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="about-me-title">Всем привет!</h2>
        <p class="about-me-text">Меня зовут Антон.</p>
        <p class="about-me-text">Я нахожу интересные рецепты в книгах, у друзей и в интернете, а также придумываю их сам.</p>
        <p class="about-me-text">Самые лучшие я публикую для вас на своем сайте.</p>
        <p class="about-me-text">Они не требуют специальных навыков, их способен приготовить каждый.</p>
        <p class="about-me-text">Дерзайте!</p>
    </div>
{% endblock %}