{% extends 'base.html' %}

{% block content %}
    <h1>Редактировать рецепт</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title.label_tag }} {{ form.title }}<br>
        {{ form.description.label_tag }} {{ form.description }}<br>
        {{ form.ingredients.label_tag }} {{ form.ingredients }}<br>
        {{ form.steps.label_tag }} {{ form.steps }}<br>
        {{ form.image.label_tag }} {{ form.image }}<br>
        <input type="submit" value="Сохранить изменения">
    </form>
    <a href="{% url 'recipe_list' %}">Назад к списку рецептов</a>
{% endblock %}