{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.description }}</p>

    <h3>Ингредиенты:</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>

    <h3>Шаги:</h3>
    <ol>
        {% for step in recipe.steps %}
            <li>{{ step }}</li>
        {% endfor %}
    </ol>

    <a href="{% url 'edit_recipe' recipe_id=recipe.id %}">Редактировать рецепт</a>
    <p></p>
    <a href="{% url 'delete_recipe' recipe_id=recipe.id %}">Удалить рецепт</a>
{% endblock %}