body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .content {
            margin: 20px;
        }

body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        footer {
            padding: 20px;
            background-color: #f0f0f0; /* Добавим фон для футера */
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto; /* Центрирование контента футера */
        }

        .footer-section {
            flex: 1;
            margin-right: 20px;
        }

        .footer-section h3 {
            margin-bottom: 10px;
        }

        .footer-section p {
            margin-bottom: 0;
        }